<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configuración del RollingFileAppender para la rotación de logs diarios -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Nombre del archivo base -->
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Número máximo de archivos de log a mantener -->
            <maxHistory>30</maxHistory> <!-- Mantener los logs de los últimos 30 días -->
        </rollingPolicy>
    </appender>
    <!-- Configuración del ConsoleAppender para mostrar logs en la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>    
    <!-- Configuración del root logger -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>